<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="personnel_registration.Properties.Settings.StaffDBConnectionString"
            connectionString="Data Source=DESKTOP-KVV9CU5\SQLEXPRESS;Initial Catalog=StaffDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>